<app-header></app-header>
<div class="container">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td><img id="top-img" src="assets/images/top-alta.jpg"/></td>
      </tr>
  </table>
<div class="columns">
  <div class="column is-narrow" style="width: 450px;">
    <div class="box" style="height: 600px;">
    <form class="mid-form" #serviceForm="ngForm">
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="folio" class="label">Folio:</label>  
        </div>
        <div class="column">
          <label class="label">{{servicio.folio}}</label>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="cliente" class="label">Cliente:</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">
          <input type="text" name="cliente" class="input is-small" #cliente="ngModel" [(ngModel)]="servicio.cliente" (ngModelChange)="servicio.cliente = $event.toUpperCase()" required />
          <small *ngIf="!cliente.valid && cliente.touched">Nombre de Cliente no válido</small>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="telefono" class="label">Teléfono</label>
        </div>
        <div class="column is-narrow" style="width: 140px;">
          <input type="text" name="telefono" class="input is-small" #telefono="ngModel" [(ngModel)]="servicio.telefono"  (blur)="validaTel()" maxlength="10" required />
          <small *ngIf="(!telefono.valid && telefono.touched) || errTel">El teléfono no es válido</small>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="correo" class="label">Correo</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">            
          <input type="email" name="correo" class="input is-small" #correo="ngModel" [(ngModel)]="servicio.correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />          
            <small *ngIf="!correo.valid && correo.touched" >Correo es requerido</small>            
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="receptor" class="label">Receptor</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">
          <input type="text" name="receptor" class="input is-small" #receptor="ngModel" [(ngModel)]="servicio.receptor" (ngModelChange)="servicio.receptor = $event.toUpperCase()" required />
          <small *ngIf="!receptor.valid && receptor.touched">Nombre no es válido</small>
        </div>
      </div>      
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="garantia" class="label">Tiene Garantia:</label>
        </div>
        <div class="column is-narrow" style="width: 210px;">
          <div class="select is-small">
          <select name="esgarantia" [(ngModel)]="servicio.esgarantia">
              <option [ngValue]="null" selected disabled>Seleccione Garantía</option>
              <option *ngFor="let garantia of garantias" [ngValue]="garantia.value">{{garantia.viewValue}}</option>
          </select>
          </div>
        </div>
      </div>
      <div class="columns" *ngIf="servicio.esgarantia=='false'">
        <div class="column is-narrow" style="width: 140px;">
          <label for="receptor" class="label">Costo Revisión</label>
        </div>
        <div class="column is-narrow" style="width: 100px;">
          <input type="number" name="costorevision" class="input is-small" #costorevision="ngModel" [(ngModel)]="servicio.costorevision" required />
          
        </div>
      </div> 
      <button class="button is-success" (click)="onSubmit()" [disabled]="equipos.length <= 0">Enviar</button>
    </form>    
    </div>
  </div>
  <div class="column">
    <app-equipos (enviaEquipos)="recibeEquipos($event)"></app-equipos>
  </div>
</div>  


