<app-header></app-header>
<div class="container">
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td><img id="top-img" src="assets/images/top-alta.jpg"/></td>
      </tr>
  </table>
<div class="columns">
  <div class="column is-narrow" style="width: 400px;">
    <div class="box" style="height: 600px;">
    <form class="mid-form" #serviceForm="ngForm">
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="folio" class="label">Folio:</label>
        </div>
        <div class="column">
          <label class="label">{{servicio.folio}}</label>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="cliente" class="label">Cliente:</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">
          <input click-stop-propagation type="text" name="nombre" class="input is-small" #nombre="ngModel" (keyup)="buscaCliente();" [(ngModel)]="cliente.nombre" (ngModelChange)="cliente.nombre= $event.toUpperCase()" required />
          <small *ngIf="!nombre.valid && nombre.touched">Nombre de Cliente no válido</small>
        </div>
      </div>
      <table *ngIf="listaClientes.length > 0" style="width:350px; margin-top: -15px;border-top: 1px solid black;border-left:  1px solid black; border-right: 1px solid black;">
        <thead>
          <tr>
            <th style="text-align: center;">Cliente</th>
            <th style="text-align: right;">
              <button class="button is-small is-info" (click)="cierraLista()">X</button>
            </th>
          </tr>
        </thead>
      </table>
      <div *ngIf="listaClientes.length > 0" style="height: 200px;border: 1px solid black;overflow: auto; width:350px;  margin-bottom: 5px;">
        <table class="table is-hoverable" style="width:330px">
          <tbody>
          <tr *ngFor="let cliente of listaClientes; let i= index;" (dblclick)="DoubleClickRow(i)" (click)="singleClickRow(i)" [class.selected]="i == HighlightRow" >
            <td style="font-size: small;">
              {{cliente.nombre}}
            </td>
            <td  style="font-size: small;">
              {{cliente.telefono}}
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="telefono" class="label">Teléfono</label>
        </div>
        <div class="column is-narrow" style="width: 140px;">
          <input type="text" name="telefono" class="input is-small" #telefono="ngModel" [(ngModel)]="cliente.telefono"  (blur)="validaTel()" maxlength="10" required />
          <small *ngIf="(!telefono.valid && telefono.touched) || errTel">El teléfono no es válido</small>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="correo" class="label">Correo</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">
          <input type="email" name="correo" class="input is-small" #correo="ngModel" [(ngModel)]="cliente.correo" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
            <small *ngIf="!correo.valid && correo.touched" >Correo es requerido</small>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow" style="width: 140px;">
          <label for="receptor" class="label">Receptor</label>
        </div>
        <div class="column is-narrow" style="width: 200px;">
          <input type="text" name="receptor" class="input is-small" #receptor="ngModel" [(ngModel)]="servicio.receptor" (ngModelChange)="servicio.receptor = $event.toUpperCase()" required />
          <small *ngIf="!receptor.valid && receptor.touched">Nombre no es válido</small>
        </div>
      </div>
      <button class="button is-success" (click)="nuevoServicio()" >Nuevo Servicio</button>
    </form>
    </div>
  </div>
  <div class="column">
    <app-equipos  [servicio]="servicio"  [cliente]="cliente" (recFolio)="recFolio($event)"></app-equipos>
  </div>
</div>


