<div class="box" style="height: 600px;">
    <div class="columns" style="margin-top:-25px">
        <div class="column is-narrow">
            <form #equiposForm="ngForm">
            <div class="columns">
                <div class="column is-narrow" style="width:115px"><label class="label">Marca:</label></div>
                <div class="column is-narrow" style="width: 180px;">
                    <input type="text" class="input is-small" name="marca" #marca="ngModel" [(ngModel)]="equipo.marca" (ngModelChange)="equipo.marca = $event.toUpperCase()" required>                    
                </div>                    
                <div class="column is-narrow" style="width:110px"><label class="label">Modelo:</label></div>
                <div class="column is-narrow" style="width: 180px;">
                    <input type="text" class="input is-small" name="modelo" #modelo="ngModel" [(ngModel)]="equipo.modelo" (ngModelChange)="equipo.modelo = $event.toUpperCase()" required>
                </div>
            </div>
            <div class="columns" style="margin-top:-25px">
                <div class="column is-narrow" style="width:115px"><label class="label">Serie:</label></div>
                <div class="column is-narrow" style="width:180px;">
                    <input type="text" class="input is-small" name="serie" #serie="ngModel" [(ngModel)]="equipo.serie" (ngModelChange)="equipo.serie = $event.toUpperCase()" required>
                </div>                            
                <div class="column is-narrow" style="width:110px"><label class="label">Costo:</label></div>
                <div class="column is-narrow" style="width: 180px;"><input type="number" class="input is-small" name="costo" #costo="ngModel" [(ngModel)]="equipo.costo" required></div>
            </div>
            <div class="columns" style="margin-top:-25px">
                <div class="column is-narrow" style="width:115px"><label class="label">Técnico:</label></div>
                <div class="column is-narrow" style="width:180px;">
                    <div class="select is-small">
                    <select name="tecnico" [(ngModel)]="equipo.tecnico" (change)="changetecnico($event)">
                        <option [ngValue]="null" disabled selected="selected">Seleccione Técnico</option>
                        <option *ngFor="let tecnico of tecnicos" [ngValue]="tecnico._id">{{tecnico.nombre}} {{tecnico.apellido}}</option>
                    </select>
                    </div>
                </div>
            </div>  
            <div class="field" style="margin-top:-15px">
                <label class="label">Comentarios:</label>
                <div class="control">
                    <textarea name="comentarios" [(ngModel)]="equipo.comentarios" class="textarea is-primary" rows="1" required></textarea>
                </div>
            </div>       
            <div class="field" style="margin-top:-15px">
                <label class="label">Diagnóstico Inicial:</label>
                <div class="control">
                    <textarea name="diagnostico" [(ngModel)]="equipo.diagnostico" class="textarea is-primary" rows="1" required></textarea>
                </div>
            </div>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <button type="button" class="button is-success" (click)="addEquipo()" [disabled]="equiposForm.invalid">{{btnAccion}}</button>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a (click)="eliminarEquipo()"><span class="icon has-text-danger"><i class="fas fa-trash-alt"></i></span></a>
                    </div>
                </div>
            </nav>
            </form>
        </div>
        <div class="column" style="margin-top: -10px;">
            <angular-file-uploader [config]="afuConfig" 
            (ApiResponse)="imageUpload($event)"></angular-file-uploader>
            <div class="columns is-gapless is-multiline">
                <div class="column is-narrow" style="width:55px ;" *ngFor="let img of equipo.imagenes; let i=index;">
                    <img src="{{url+'get-image/'+img.nombre}}" title="{{img.nombreoriginal}}" class="equipos" (click)="clickImage(img.nombre,i)" />
                </div>
            </div>
        </div>        
    </div>    
    
    <table class="table" style="width:100%" style="margin-top:-25px">
        <col width="10%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="25%">
        <col width="20%">
        <thead>
        <tr>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Serie</td>
            <td align="center">Costo</td>
            <td align="center">Técnico</td>
            <td>Comentarios</td>
            <td>Diagnóstico</td>
        </tr>
        </thead>
    </table>
    <div style="width:100%; height:150px; overflow:auto;">
        <table class="table is-hoverable" style="width:100%">
            <col width="10%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="25%">
            <col width="20%">
            <tr *ngFor="let equipo of equipos; let i = index" (dblclick)="editEquipo(i)" (click)="selectRow(i)" [class.is-selected]="i == HighlightRow">
                <td>{{equipo.marca}}</td>
                <td>{{equipo.modelo}}</td>
                <td>{{equipo.serie}}</td>
                <td align="center">{{equipo.costo | currency}}</td>
                <td>{{equipo.nombretecnico}}</td>
                <td align="right"><textarea rows="1" disabled>{{equipo.comentarios}}</textarea></td>
                <td align="right"><textarea rows="1" disabled>{{equipo.diagnostico}}</textarea></td>
            </tr>
        </table>
    </div>        
</div>

<div class="modal is-active" *ngIf="imageActive">
    <div class="modal-background"></div>
    <div class="modal-content">        
        <figure class="image is-fullwidth">
            <img src="{{imgPath}}" alt="">
        </figure>
    </div>
    <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
    <div class="modal-card">
        <footer class="modal-card-foot">
            <button class="button is-success" (click)="eliminarImg(imgname,imgIndex)">Eliminar</button>
            <button class="button" (click)="closeModal()">Cerrar</button>
        </footer>
    </div>
</div>

