<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets/images/logotdm.jpg" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>Tecnología Dinámica de México</strong>
            </span>
        </div>
        <ng-container *ngIf="authService.loggedIn();">
            <!-- MENU LOGUEADO-->
            <nav id="menu" >
                <ul>
                    <li>
                        <div class="field">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                            <label class="label" style="margin-right:55px;margin-left:10px">{{authService.getUser()}}</label>
                          </span>                        
                        </div>
                    </li>                
                    <li>
                        <a routerLink="/lista" [routerLinkActive]="['active']">Lista</a>
                    </li>
                    <li *ngIf="authService.getRol() == 0">
                        <a routerLink="/servicio" [routerLinkActive]="['active']">Servicio</a>
                    </li>
                    <li *ngIf="authService.getRol() == 0">
                        <a routerLink="/tecnicos" [routerLinkActive]="['active']">Técnicos</a>
                    </li>
                    <li *ngIf="authService.getRol() == 0">
                        <a routerLink="/reportes" [routerLinkActive]="['active']">Reportes</a>
                    </li>  
                    <li>
                        <a (click)="authService.logout()" [routerLinkActive]="['active']">Salir</a>
                    </li>                     
                </ul>
            </nav>
        </ng-container>
        <!--ng-template #loggedIn>
            <nav id="menu" >    
                <ul>   
                    <li>
                        <a [routerLink]="['auth']" [routerLinkActive]="['auth']">Login</a>
                    </li>
                </ul>        
        </nav>
        <ng-template-->
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>