<div class="container" style="margin:0 auto;">
    <table style="width: 100%; border: 0px; text-align: center;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 20%;" rowspan="2">
                <div id="logo">
                <img src="assets/images/logotdm.jpg" alt="Logotipo" />
                </div>
            </td>
        
            <td style="width: 80%; text-align: left;background-color:#EEEEEE; vertical-align: middle;" rowspan="2">
                <nav id="menu" >
                <ul>
                <li>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        <label class="label" style="margin-right:55px;margin-left:10px">{{authService.getUser()}}</label>
                    </span>
                </li>
                <li>
                    <a routerLink="/lista" [routerLinkActive]="['active']" >Lista</a>
                </li>
                <li *ngIf="authService.getRol() == 0">
                    <a routerLink="/servicio"  [routerLinkActive]="['active']">Servicio</a>
                </li>
                <li *ngIf="authService.getRol() == 0">
                    <a routerLink="/tecnicos"  [routerLinkActive]="['active']">Técnico</a>
                </li>
                <li *ngIf="authService.getRol() == 0">
                    <a routerLink="/cliente"  [routerLinkActive]="['active']">Cliente</a>
                </li>
                <li *ngIf="authService.getRol() == 0">
                  <a routerLink="/envios"  [routerLinkActive]="['active']">Envios</a>
                </li>
                <li *ngIf="authService.getRol() == 0">
                    <a routerLink="/reportes"  [routerLinkActive]="['active']">Reportes</a>
                </li>
                <li>
                    <a routerLink="/menuinventario" [routerLinkActive]="['active']" >Inventario</a>
                </li>
                <li>
                    <a (click)="authService.logout()" [routerLinkActive]="['active']">Salir</a>
                </li>
            </ul>
            </nav>
        </td>
        </tr>
        <tr>
            <td height="18" bgcolor="#EEEEEE">&nbsp;</td>
        </tr>
    </table>

<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</div>
