<table class="table" style="width: 100%;">
    <tr>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Serie</td>
        <td *ngIf="authService.getRol() == 0">Costo</td>
        <td>Técnico</td>
        <td>Comentarios</td>
        <td>Diagnostico</td>
    </tr>
</table>
<div style="width:auto; height: 110px;overflow:auto;">
    <table class="table" style="width: 100%;">
        <tr *ngFor="let equipo of equipos ; let i = index">
            <td>{{equipo.marca}}</td>
            <td>{{equipo.modelo}}</td>
            <td>{{equipo.serie}}</td>
            <td *ngIf="authService.getRol() == 0">{{equipo.costo | currency}}</td>
            <td>{{equipo.tecnico.nombre}} {{equipo.tecnico.apellido}}</td>        
            <td><textarea disabled rows="1">{{equipo.comentarios}}</textarea></td>
            <td><textarea disabled rows="1">{{equipo.diagnostico}}</textarea></td>
        </tr>
    </table>
</div>
