<table class="table" style="width: 100%;">
    <tr>
        <td>Marca</td>
        <td>Modelo</td>
        <td>Serie</td>
        <td>Costo</td>
        <td>Técnico</td>
        <td>Observaciones</td>
    </tr>
</table>
<table class="table" style="width: 100%;">
    <tr *ngFor="let equipo of equipos ; let i = index">
        <td>{{equipo.marca}}</td>
        <td>{{equipo.modelo}}</td>
        <td>{{equipo.serie}}</td>
        <td>{{equipo.costo | currency}}</td>
        <td>{{equipo.tecnico}}</td>        
        <td><textarea name="comentarios" [(ngModel)]="equipo.comentarios" class="textarea is-primary" rows="2" (blur)="retornaequipos()"></textarea></td>
    </tr>
</table>
