.etapaactiva{
    border: 2px solid #293ef7;
}

.etapaanterior{
    border: 2px solid #15ca1e;
}

.etapaposterior{
    border: 2px solid #d81f07;
}

.table tr{
  cursor: pointer !important;
}

.greenrow {
    background-color: #48da24;
}

.yellowrow{
    background-color: #e0f006fb;
}

.redrow{
    background-color: #ee0909;
}

input.ng-pristine {
    background-color:pink;
}

input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
 }
textarea.ng-valid {
    color: green;
    background-color: lightgreen;
 }
textarea.ng-invalid {
    background-color: pink;
  }
  
img.equipos{
    width:50px
}

.btn.up_btn.afu-attach-pin{
    display:block !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 15px;
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 90%;
    float:right;    
}

#menu ul{
    line-height: 85px;
    width: 70%;
    float:right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}


#menu a:hover, .active{
    color: #ffffff !important;
    background-color: #33C;
}

.pie{
    background: #f7f7f7 !important;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
    left: 0px !important;
    bottom: 0px !important;
    margin: 0 auto !important;
    position:fixed;
}

a:hover {    
    cursor: pointer;
}

tr:hover{
    cursor: pointer;
}

.icon{
    width: 20%;
    height: 20px;
}

#footer p {
    margin: 0px;
    padding: 0px;
}

.center{
    width: 75%;
    margin: 0px auto;
    text-align: center
}

.clearfix{
    clear:both;
    float:none;
}

/*#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}*/

#header {
    height: 280px;
    width: 100%;
    background: white;
}

#top-img{
    width: 100% !important;
    height: 180px;
}

#logo img {
    display: block;
    float: left;
    width: auto;
    height: 85px;    
}

#content{
    width: 70%;
    /*float:left;*/
    min-height: 650px;
    margin-right: 20px;
}

.selected {  
    background-color:#167ef5 !important;  
    color: white !important;  
  } 

.mid-form{
    width: 70%;
}

.column1 {display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0.75rem;
	font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
    color: #FFF;
    text-align: center;
}

@media print {
    app-root > * { display: none; }
    app-root app-print-layout { display: block; }
  }

  .titulos {
	font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.titulossmall {
	font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid grey;
  padding: 10px;
  width: 200px;
  height: 60px;
} 

.font-report-header{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
    background-color: #817b7a !important;
    color: #f7f7f7 !important;
    vertical-align: middle !important;
}
.font-report{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
}

.font-desgloce{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
}

.input-box-container {
    position: relative;
  }
  .input-box {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }