<app-header></app-header>
<div class="container">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td><img id="top-img" src="assets/images/top-lista.jpg"/></td>
          </tr>
    </table>
    <div class="loading" *ngIf="permiso">
        Sin permiso para ver el contenido
    </div>
    <div class="loading" *ngIf="servicios && servicios.length ==0">
        No hay Servicios para mostrar
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="servicios">
        <div class="navbar-brand">
            <div  class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <label class="label">Filtro:&nbsp;</label>
                        <input type="text"  class="input is-small" onkeyup="doFilter(this.value,'tblservicios');">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <table width="100%" border="1" cellspacing="0" cellpadding="0"  *ngIf="servicios">
        <tr class="column1">
            <td width="101" bgcolor="#19377B">Folio</td>
            <td width="195" bgcolor="#19377B">Cliente</td>
            <td width="140" bgcolor="#19377B">Teléfono</td>
            <td width="150" bgcolor="#19377B">Marca</td>
            <td width="163" bgcolor="#19377B">Modelo</td>
            <td width="119" bgcolor="#19377B">Cobrar</td>
            <td width="152" bgcolor="#19377B">Abierto</td>
            <td width="152" bgcolor="#19377B">Ult Act</td>
            <td width="140" bgcolor="#19377B">Estatus</td>
        </tr>
    </table>
    <div style="height: 380px; width:100%; overflow:auto;" *ngIf="servicios">
        <table style="width:100%" id="tblservicios" class="table is-bordered">
            <tr  *ngFor="let servicio of servicios ; let i = index" (click)="ClickedRow(i)" (dblclick)="DoubleClickRow(i)" [class.selected]="i == HighlightRow" [class.greenrow]="servicio.semaforo == 'g'" [class.yellowrow]="servicio.semaforo == 'y'" [class.redrow]="servicio.semaforo == 'r'">
                <td style="width:115px;text-align: center;">{{servicio.folio}}</td>
                <td style="width:145;padding-left: 5px;">{{servicio.clienteId.nombre}}</td>
                <td style="width:140px;text-align: left;">{{servicio.clienteId.telefono}}</td>
                <td style="width:135px;text-align: center;">{{servicio.equipos[0].marca}}</td>
                <td style="width:163px;text-align: center;">{{servicio.equipos[0].modelo}}</td>
                <td style="width:119px;text-align: center;">{{servicio.costocliente | currency}}</td>
                <td style="width:152px;text-align: center;">{{servicio.fechaIngreso | date:'short':'CST' }}</td>
                <td style="width:152px;text-align: center;">{{servicio.fechaactualizacion | amLocale: 'es' | amTimeAgo}}</td>
                <td style="width:140px;text-align: center;">{{servicio.estatus}}</td>
            </tr>
        </table>
    </div>
</div>
