<app-header></app-header>
<div class="container">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td><img id="top-img" src="assets/images/top-lista.jpg"/></td>
          </tr>
    </table>
    <div class="loading" *ngIf="permiso">
        Sin permiso para ver el contenido
    </div>
    <div class="loading" *ngIf="servicios && servicios.length ==0">
        No hay Articulos para mostrar
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation" *ngIf="servicios">
        <div class="navbar-brand">
            <div  class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <label class="label">Filtro:&nbsp;</label>
                        <input type="text"  class="input is-small" onkeyup="doFilter(this.value,'tblservicios');">
                    </div>
                </div>
            </div>
        </div>
    </nav>    
    <table width="100%" border="1" cellspacing="0" cellpadding="0"  *ngIf="servicios">
        <tr class="column1">
            <td width="94" bgcolor="#19377B">Folio</td>
            <td width="260" bgcolor="#19377B">Cliente</td>        
            <td width="140" bgcolor="#19377B">Teléfono</td>
            <td width="109" bgcolor="#19377B">Equipo</td>
            <td width="163" bgcolor="#19377B">Modelo</td>
            <td width="119" bgcolor="#19377B">Garantía</td>
            <td width="152" bgcolor="#19377B">Abierto</td>
            <td width="152" bgcolor="#19377B">Ult Act</td>
            <td width="119" bgcolor="#19377B">Estatus</td>
        </tr>
    </table>
    <div style="height: 610px; width:100%; overflow:auto;" *ngIf="servicios">
        <table style="width:100%" id="tblservicios" >
            <tr  *ngFor="let servicio of servicios ; let i = index" (click)="ClickedRow(i)" (dblclick)="DoubleClickRow(i)" [class.selected]="i == HighlightRow" [class.greenrow]="servicio.semaforo == 'g'" [class.yellowrow]="servicio.semaforo == 'y'" [class.redrow]="servicio.semaforo == 'r'">
                <td width="106">{{servicio.folio}}</td>
                <td width="260">{{servicio.cliente}}</td>            
                <td width="140">{{servicio.telefono}}</td>
                <td width="109">{{servicio.equipos[0].marca}}</td>
                <td width="163">{{servicio.equipos[0].modelo}}</td>
                <td width="119">{{servicio.esgarantia ? 'Si' : (servicio.costorevision | currency)}}</td>
                <td width="152">{{servicio.fechaIngreso | date:'short':'CST' }}</td>
                <td width="152">{{servicio.fechaactualizacion | amLocale: 'es' | amTimeAgo}}</td>
                <td width="140">{{servicio.estatus}}</td>
            </tr>
        </table>
    </div>
</div>