<app-header></app-header>
<div class="container">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td><img id="top-img" src="assets/images/top-estatus.jpg"/></td>
          </tr>
      </table>
    <div class="box">
        <div class="columns">
            <div class="column is-narrow" style="width:100px">
                <label for="folio" class="label">Folio: </label>
            </div>
            <div class="column is-narrow" style="width: 200px;">
                <label for="folio">{{servicio.folio}} </label>
            </div>
            <div class="column is-narrow">
                <label for="folio" class="label">Estatus: </label>
            </div>
            <div class="column">
                <label for="folio">{{servicio.estatus}} </label>
            </div>
            <div class="column">
                <button class="button is-info" (click)="imprimir()">Imprimir</button>
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow" style="width:100px">
                <label for="folio" class="label">Cliente: </label>
            </div>
            <div class="column is-narrow" style="width: 200px;">
                <label for="folio">{{servicio.cliente}} </label>
            </div>
            <div class="column is-narrow" *ngIf="servicio.esgarantia">
                <label for="folio" class="label">Garantía: </label>
            </div>
            <div class="column is-narrow" *ngIf="servicio.esgarantia">
                <label for="folio">Si</label>
            </div>
            <div class="column is-narrow" *ngIf="!servicio.esgarantia">
                <label for="folio" class="label">Costo Revisión: </label>
            </div>
            <div class="column is-narrow" *ngIf="!servicio.esgarantia">
                <label for="folio">{{servicio.costorevision | currency}}</label>
            </div>
        </div>
        <div class="columns" *ngIf="authService.getRol() == 0">
            <div class="column is-narrow" style="width:100px">
                <label for="folio" class="label">Teléfono: </label>
            </div>
            <div class="column is-narrow" style="width: 200px;">
                <label for="folio">{{servicio.telefono}} </label>
            </div>
            <div class="column is-narrow">
                <label for="folio" class="label">Correo: </label>
            </div>
            <div class="column">
                <label for="correo">{{servicio.correo}}</label>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <app-mostrar-equipos [servicio]="servicio" (enviaEquipos)="recibeEquipos($event)"></app-mostrar-equipos>
            </div>
        </div>
    </div>
    <div class="box" *ngFor="let equipo of equipos; let i = index;">
        <div class="columns">
          <div class="column is-2" *ngIf="authService.getRol() == 0">
            <div class="column" style="margin-top: -10px;">
              <angular-file-uploader [config]="afuConfig" (ApiResponse)="imageUpload($event,i)"></angular-file-uploader>
            </div>
          </div>
          <div class="column">
            <div class="columns is-gapless is-multiline">
              <div class="column is-narrow" style="width:55px ;" *ngFor="let img of equipo.imagenes, let j = index">
                  <img src="{{url+'get-image/'+img.nombre}}" title="{{img.nombreoriginal}}" class="equipos" (click)="clickImage(img.nombre,img._id,i,j)" />
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="modal is-active" *ngIf="imageActive">
        <div class="modal-background"></div>
        <div class="modal-content">
            <figure class="image is-fullwidth">
                <img src="{{imgPath}}" alt="">
            </figure>
        </div>
        <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
        <div class="modal-card">
            <footer class="modal-card-foot">
                <button class="button is-success" (click)="eliminarImg(img_id,equipoIndex,imgIndex)">Eliminar</button>
                <button class="button" (click)="closeModal()">Cerrar</button>
            </footer>
        </div>
    </div>
    <div class="box" [class.etapaactiva]="servicio.etapa == 0" [class.etapaanterior]="servicio.etapa > 0" *ngIf="authService.getRol() == 0">
        <div class="columns">
            <div class="column">
                <label class="label">¿El técnico puede reparar el/los equipo(s)?</label>
            </div>
            <div class="column">
                <input type="radio" name="canrepair" [(ngModel)]="servicio.puedereparar"  [value]="true" (click)="Canrepair(true)" [disabled]="servicio.etapa != 0">Si
            </div>
            <div class="column">
                <input type="radio" name="canrepair" [(ngModel)]="servicio.puedereparar" [value]="false" (click)="Canrepair(false)" [disabled]="servicio.etapa != 0">No
            </div>
        </div>
        <div class="columns" *ngIf="canreapir">
            <div class="column is-narrow">
                <label class="label">Número de guía</label>
            </div>
            <div class="column is-narrow" style="width: 170px;">
                <input type="text" class="input is-small" [(ngModel)]="servicio.numeroguia" (keyup)="typenoguia()" required="servicio.puedereparar" [disabled]="servicio.etapa != 0">
            </div>
            <div class="column is-narrow">
                <label class="label">Empresa de Mensajeria</label>
            </div>
            <div class="column is-narrow">
                <div class="select is-small">
                    <select name="mensajeria" [(ngModel)]="servicio.mensajeria" [disabled]="servicio.etapa != 0">
                        <option [ngValue]="null" disabled selected="selected">Seleccione Técnico</option>
                        <option *ngFor="let mensaj of mensajeria" [ngValue]="mensaj.nombre">{{mensaj.nombre}}</option>
                    </select>
                  </div>
            </div>
            <div class="column is-narrow">
                <label class="label">Costo del Envio</label>
            </div>
            <div class="column is-narrow" style="width: 100px;" *ngIf="servicio.etapa == 0">
                <input type="text" class="input is-small" [(ngModel)]="servicio.costoenvio" >
            </div>
            <div class="column is-narrow" style="width: 100px;" *ngIf="servicio.etapa != 0">
                <label>{{servicio.costoenvio | currency}}</label>
            </div>
        </div>
        <div class="columns" *ngIf="!canreapir">
            <div class="column">
                <label class="label">¿Qué desea hacer?</label>
            </div>
            <div class="column">
                <label class="label">
                  <input type="radio" name="actnnorepair"  [(ngModel)]="actnnorepair" [value]="devolver" [disabled]="servicio.etapa != 0">Devolver al cliente
                </label>
            </div>
            <div class="column">
                <label class="label">
                  <input type="radio" name="actnnorepair" [(ngModel)]="actnnorepair" [value]="resguardo" [disabled]="servicio.etapa != 0">Poner en Resguardo
                </label>
            </div>
        </div>
        <div class="columns">
            <button class="button is-success" (click)="enviar(0)" [disabled]="enableBtn" *ngIf="servicio.etapa == 0" >Enviar</button>
        </div>
    </div>
    <div class="box" [class.etapaactiva]="servicio.etapa == 1" [class.etapaposterior]="servicio.etapa < 1" [class.etapaanterior]="servicio.etapa > 1" >
        <div class="columns">
            <div class="column"><label class="label">Confirmo que he recibido el/los equipo(s)</label></div>
            <div class="column"><input type="checkbox" name="tecrecequ" [(ngModel)]="servicio.tecrecequ" [disabled]="servicio.etapa != 1" ></div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(1)" [disabled]="!servicio.tecrecequ" *ngIf="servicio.etapa == 1">Recibido</button>
            </div>
        </div>
    </div>
    <div class="box" [class.etapaactiva]="servicio.etapa == 3" [class.etapaposterior]="servicio.etapa < 3" [class.etapaanterior]="servicio.etapa > 3">
        <div class="columns">
            <div class="column is-narrow"><label class="label">Diagnóstico</label></div>
            <div class="column">
                <div class="field">
                    <div class="control">
                        <textarea name="diagnostico" [(ngModel)]="servicio.diagnostico" class="textarea is-primary" rows="2" required [disabled]="servicio.etapa != 3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow"><label class="label">Costo de la reparación</label></div>
            <div class="column is-narrow" style="width: 100px;">
              <input class="input is-small" type="number" [(ngModel)]="servicio.costotecnico" [disabled]="servicio.etapa != 3">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(3)" *ngIf="servicio.etapa == 3">Enviar Diagnostico</button>
            </div>
        </div>
    </div>

    <div class="box" [class.etapaactiva]="servicio.etapa == 4" [class.etapaposterior]="servicio.etapa < 4" [class.etapaanterior]="servicio.etapa > 4" *ngIf="authService.getRol() == 0">
        <div class="columns">
            <div class="column">
                <label class="label">El costo del equipo es: {{costoequipo | currency}}</label>
            </div>
        </div>
        <div class="columns">
            <div class="column"><label class="label">El costo de la reparación es: {{servicio.costotecnico | currency}}</label></div>
        </div>
        <div class="columns">
            <div class="column is-narrow">
              <label class="label">El costo para el cliente es: </label>
            </div>
            <div class="column is-1">
                <input type="number" class="input is-small" [(ngModel)]="servicio.costocliente" [disabled]="servicio.etapa != 4">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">¿El cliente autoriza la reparación?</label>
            </div>
            <div class="column">
                <label class="label">
                  <input type="radio" name="actnnorepair"  [(ngModel)]="servicio.cliautoriza" [value]="true" [disabled]="servicio.etapa != 4">Si
                </label>
            </div>
            <div class="column">
                <label class="label">
                  <input type="radio" name="actnnorepair" [(ngModel)]="servicio.cliautoriza" [value]="false" [disabled]="servicio.etapa != 4">No
                </label>
            </div>
        </div>
        <div class="columns" *ngIf="servicio.cliautoriza">
            <div class="column is-narrow"><label class="label">Anticipo para el Técnico: {{equipos[0].tecnico.nombre}} {{equipos[0].tecnico.apellido}}</label></div>
            <div class="column is-1">
                <input type="number" class="input is-small" [(ngModel)]="servicio.pagoanticipotecnico" [disabled]="servicio.etapa != 4">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(4)" *ngIf="servicio.etapa == 4">Enviar</button>
            </div>
        </div>
    </div>

    <div class="box" [class.etapaactiva]="servicio.etapa == 5" [class.etapaposterior]="servicio.etapa < 5" [class.etapaanterior]="servicio.etapa > 5">
        <div class="columns">
            <div class="column is-narrow">
                <label class="label">Condiciones de devolución:</label>
            </div>
            <div class="column">
                <textarea name="diagnostico" [(ngModel)]="servicio.condregreso" class="textarea is-primary" rows="2" [disabled]="servicio.etapa != 5"></textarea>
            </div>
        </div>
        <div class="columns" *ngFor="let equipo of equipos;">
            <app-img-regreso [equipo]="equipo"></app-img-regreso>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(5)" *ngIf="servicio.etapa == 5">Enviar</button>
            </div>
        </div>
    </div>

    <div class="box" [class.etapaactiva]="servicio.etapa == 6" [class.etapaposterior]="servicio.etapa < 6" [class.etapaanterior]="servicio.etapa > 6" *ngIf="authService.getRol() == 0">
        <div class="columns">
            <div class="column is-narrow">
                <label class="label">Por favor confirme que el equipo funciona, antes de entregarlo al cliente</label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-1"><input type="radio" [(ngModel)]="servicio.equipoprobado"  [value]="true" [disabled]="servicio.etapa != 6">Si</div>
            <div class="column is-1"><input type="radio" [(ngModel)]="servicio.equipoprobado"  [value]="false" [disabled]="servicio.etapa != 6">No</div>
        </div>
        <div class="columns" *ngIf="servicio.equipoprobado">
            <div class="column is-narrow">
                <label class="label">Enlace de pago:</label>
            </div>
            <div class="column is-2">
                <input type="text" class="input is-small" [(ngModel)]="servicio.linkpago" name="linkpago" [disabled]="servicio.etapa != 6">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(6)" *ngIf="servicio.etapa == 6">Enviar</button>
            </div>
        </div>
    </div>

    <div class="box" [class.etapaactiva]="servicio.etapa == 7" [class.etapaposterior]="servicio.etapa < 7" [class.etapaanterior]="servicio.etapa > 7" *ngIf="authService.getRol() == 0">
        <div class="columns">
            <div class="column is-narrow" style="width: 200px; margin-right:-20px">
                <label class="label">Costo de la reparación:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <label class="label">{{servicio.costotecnico | currency}}</label>
            </div>
            <div class="column is-narrow">&nbsp;</div>
            <div class="column is-narrow" style="width: 230px;">
                <label class="label">Costo al cliente:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <label class="label">{{servicio.costocliente | currency}}</label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow" style="width: 200px; margin-right:-20px">
                <label class="label">Anticipo al Técnico:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <label class="label">{{servicio.pagoanticipotecnico | currency}}</label>
            </div>
            <div class="column is-narrow">&nbsp;</div>
            <div class="column is-narrow" style="width: 230px;">
                <label class="label">Saldo pendiente al Técnico:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <label class="label">{{servicio.costotecnico - servicio.pagoanticipotecnico | currency}}</label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow" style="width: 200px; margin-right:-20px">
                <label class="label">Cobro al cliente:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <input type="number"  class="input is-small" name="cobro" [(ngModel)]="servicio.pagofinal" required [disabled]="servicio.etapa != 7">
            </div>
            <div class="column is-narrow">&nbsp;</div>
            <div class="column is-narrow" style="width: 230px;">
                <label class="label">Margen de ganancia:</label>
            </div>
            <div class="column is-narrow" style="width:105px">
                <label class="label">{{servicio.costocliente - servicio.costotecnico - servicio.costoenvio | currency}}</label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow" style="width: 200px;margin-right:-20px"><label class="label">Método de pago</label></div>
            <div class="column">
                <div class="select is-small">
                    <select name="tecnico" [(ngModel)]="servicio.metodopago" [disabled]="servicio.etapa != 7">
                        <option [ngValue]="null" disabled selected="selected">Seleccione Método de Pago</option>
                        <option *ngFor="let mp of metodopago" [ngValue]="mp.value">{{mp.viewValue}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <label class="label">Pida que el cliente firme la entrega del equipo</label>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(7)" *ngIf="servicio.etapa == 7" [disabled]="servicio.pagofinal < servicio.costocliente">Enviar</button>
            </div>
        </div>
    </div>

    <div class="box" [class.etapaactiva]="servicio.etapa == 8" [class.etapaposterior]="servicio.etapa < 8" [class.etapaanterior]="servicio.etapa > 8" *ngIf="authService.getRol() == 0">
        <div class="columns">
            <div class="column is-narrow" style="width: 230px;">
                <label class="label">Pagar saldo pendiente al Técnico:</label>
            </div>
            <div class="column is-narrow">
                <label class="label">{{servicio.costotecnico - servicio.pagoanticipotecnico | currency}}</label>
            </div>
            <div class="column is-narrow">
                <input type="checkbox"  name="pagosaldo" [(ngModel)]="pagosaldo" [disabled]="servicio.etapa != 8">
            </div>
        </div>
        <div class="columns">
            <div class="column is-narrow">
                <label class="label">Adjunte comprobante de pago:</label>
            </div>
            <div class="column">
                <app-img-pago-tecnico [servicio]="servicio"></app-img-pago-tecnico>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button class="button is-success" (click)="enviar(8)" *ngIf="servicio.etapa == 8" [disabled]="!pagosaldo">Enviar</button>
            </div>
        </div>
    </div>
    <div style="height: 70px;"></div>
</div>


