.header, .header-space, .footer, .footer-space { height: 100px; }
.header { position: fixed; top: 0; }
.footer { position: fixed; bottom: 0; }
@media screen {
  :host {
    display: none;
  }
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Source Sans Pro Semibold", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	background-color: #EDEDED;
}
.menuprin {font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
