<div class="container">
  <div class="columns">
    <div class="column is-narrow">
      <label for="" class="label">Filtro:</label>
    </div>
    <div class="column is-2">
      <input type="text" class="input is-small" name="filtro" [(ngModel)]="filtro" (keyup)="filtrarResultados()">
    </div>
    <div class="column is-narrow">
      <label for="" class="label">Desde:</label>
    </div>
    <div class="column is-narrow">
      <div class="input-box-container">
        <input class="input-box" 
        name="fecIni" 
        placeholder="Fecha Inicio" 
        angular-mydatepicker #dpFini="angular-mydatepicker" 
        [(ngModel)]="fecIni"
        [options]="myDpOptions" 
        (dateChanged)="onDateChangedIni($event)"
        (click)="dpFini.toggleCalendar()"
        [locale]="locale">
      </div>
    </div>
    <div class="column is-narrow">
      <label for="" class="label">Hasta:</label>
    </div>
    <div class="column is-narrow">
      <div class="input-box-container">
        <input class="input-box" 
        name="fechaFin" 
        placeholder="Fecha Fin" 
        angular-mydatepicker #dpFfin="angular-mydatepicker" 
        [(ngModel)]="fecFin"
        [options]="myDpOptions" 
        (dateChanged)="onDateChangedFin($event)"
        (click)="dpFfin.toggleCalendar()"
        [locale]="locale">
      </div>
    </div>
    <div class="column"><button class="button is-info" (click)="buscaPorFechas()">Buscar</button></div>
  </div>
  <div style="width: 100%;overflow: auto;height: 500px;border: 2px solid greenyellow;">
    <table class="table is-bordered" style="width: 150%;">
      <colgroup>
        <col width="5%">
        <col width="5%">
        <col width="7%">
        <col width="5%">
        <col width="7%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="8%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="8%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
      </colgroup>
      <thead>
        <tr>
          <th class="font-report-header" rowspan="2">MARCA</th>
          <th class="font-report-header" rowspan="2">FAMILIA</th>
          <th class="font-report-header" rowspan="2"># PARTE</th>
          <th class="font-report-header" rowspan="2"># SERIE</th>
          <th class="font-report-header" rowspan="2">ESTADO</th>
          <th class="font-report-header" rowspan="2">BODEGA</th>
          <th colspan="5" style="text-align: center; background: rgb(123, 188, 199);">COMPRA</th>
          <th colspan="7" style="text-align: center; background: rgb(223, 224, 125);">VENTA</th>
        </tr>
        <tr>
          <th style="text-align: center; background: rgb(123, 188, 199);">$ MXP</th>
          <th style="text-align: center; background: rgb(123, 188, 199);">$ USD</th>
          <th style="text-align: center; background: rgb(123, 188, 199);">Fecha</th>
          <th style="text-align: center; background: rgb(123, 188, 199);">Factura</th>
          <th style="text-align: center; background: rgb(123, 188, 199);">Capturó</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">$ MXP</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Fecha</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Factura</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Cliente</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Garantia</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Vendió</th>
          <th style="text-align: center; background: rgb(223, 224, 125);">Obser</th>
        </tr>
      </thead>
    </table>
    <table class="table is-bordered is-hoverable" style="width: 150%;margin-top: -25px;" id="tblVentas">
      <colgroup>
        <col width="5%">
        <col width="5%">
        <col width="7%">
        <col width="7%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="8%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="8%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
        <col width="5%">
      </colgroup>
      <tbody>
        <tr *ngFor="let mercancia of mercancias; let i = index" (click)="selectRow(i)" [class.is-selected]="i == highLightRow">
          <td class="font-report">{{mercancia.producto.marca}}</td>
          <td class="font-report" title="{{mercancia.producto.modelo}}">{{mercancia.producto.familia}}</td>
          <td class="font-report">{{mercancia.producto.noParte}}</td>
          <td class="font-report">{{mercancia.serie}}</td>
          <td class="font-report">{{mercancia.estado}}</td>
          <td class="font-report">{{mercancia.bodega}}</td>
          <td class="font-report" style="text-align: right !important;">{{mercancia.precioCompra | currency}}</td>
          <td class="font-report" style="text-align: right !important;">{{mercancia.precioDolares | currency}}</td>
          <td class="font-report">{{mercancia.fechaCompra | date:'dd/MM/yy'}}</td>
          <td class="font-report">{{mercancia.noFacturaCompra}}</td>
          <td class="font-report">{{mercancia.capturoEntrada}}</td>
          <td class="font-report" style="text-align: right !important;">{{mercancia.precioVenta | currency}}</td>
          <td class="font-report">{{mercancia.fechaVenta | date:'short'}}</td>
          <td class="font-report">{{mercancia.noFacturaVenta}}</td>
          <td class="font-report">{{mercancia.cliente}}</td>
          <td class="font-report">{{mercancia.fechaVencimientoGarantia | date:'dd/MM/yy'}}</td>
          <td class="font-report">{{mercancia.capturoSalida}}</td>
          <td class="font-report">{{mercancia.observaciones}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
